<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <queries>
        <package android:name="com.google.android.apps.healthdata" />
    </queries>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.health.READ_SEXUAL_ACTIVITY"/>
    <uses-permission android:name="android.permission.health.WRITE_SEXUAL_ACTIVITY"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove" />

    <application
        android:label="@string/app_name"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:dataExtractionRules="@xml/data_extraction_rules">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:localeConfig="@xml/locales_config">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>

            <intent-filter>
                <action android:name="androidx.health.ACTION_SHOW_PERMISSIONS_RATIONALE" />
            </intent-filter>
        </activity>

        <activity-alias
            android:enabled="true"
            android:name=".Default"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:label="@string/app_name_beta"
            android:name=".Beta"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_beta"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".White"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_white"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".MonoWhite"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_mono_white"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".MonoBlack"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_mono_black"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".Neon"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_neon"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".Pink"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_pink"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".Purple"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_purple"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".DeepPurple"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_deep_purple"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".Red"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_red"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".Blue"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_blue"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".Teal"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_teal"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".Glow"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_glow"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".Filled"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_filled"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".FilledWhite"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_filled_white"
            android:exported="true">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".FilledBlack"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_filled_black"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:label="@string/app_name_health"
            android:name=".Health"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_health"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:label="@string/app_name_health"
            android:name=".Health2"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_health2"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".Pride"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_pride"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".PrideRainbow"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_pride_rainbow"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".PrideRainbowLine"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_pride_rainbow_line"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".PrideClassic"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_pride_classic"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".PrideBi"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_pride_bi"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".PrideTrans"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_pride_trans"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".PrideAce"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_pride_ace"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name=".PrideRomania"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_pride"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:label="@string/app_name_sexapill"
            android:name=".Sexapill"
            android:targetActivity=".MainActivity"
            android:icon="@mipmap/ic_launcher_sexapill"
            android:exported="true">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <service
            android:name="com.solusibejo.flutter_dynamic_icon_plus.FlutterDynamicIconPlusService"
            android:stopWithTask="false"/>

        <receiver android:name=".glance.LastActivityWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/last_activity_info" />
        </receiver>

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>